<div id="<%= dom_id replenishment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= replenishment.account_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= replenishment.product_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fulfilled at:</strong>
    <%= replenishment.fulfilled_at %>
  </p>

</div>
