<div id="<%= dom_id account %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= account.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Encrypted password:</strong>
    <%= account.encrypted_password %>
  </p>

</div>
